@use "../base/" as *;
@use "../abstract/" as *;


.soferProduct {
  &__wrapper {
    @include unevenGrid(25rem 25rem 25rem, 3rem);
    place-content: center;
    justify-content: center;
    @include mediaQuery(520px) {
      grid-template-columns: 1fr;
    }
  }
  .title{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    text-align: center;
  }
  .card {
    margin-top: 10%;
    margin-bottom: 3rem;
    padding: 2rem 1rem;
    text-align: center;
    border: 2px solid transparent;
    &:hover {
      border: 2px solid $clr--secondary;
      border-radius: 2rem;
    }
    img {
      width: 20rem;
    }
    &--details p {
      color: $clr--secondary;
    }
    &__soferSearch {
      padding: 2rem;
      max-width: 3rem;
    }
    &__table {
      position: absolute;
      padding: 1rem 2rem;
      max-height: 50rem;
      border-radius: 2rem;
    }
    h2{
      font-weight: 700;
      font-style: 1.5rem;
      margin-bottom: 2rem;
      font-size: 1.5rem;
    }
    span{
      background-color: #fff;
      padding: 2rem 1rem;
      height: 1rem;
      width: 8rem;
    }
    .list{
      small{
        gap: 5rem;
      }
    }
  }
}

